.jekyll-cache/*
.DS_Store
Gemfile.lock

old/*
.sass-cache/*
gluexweb.xcworkspace/*

_site/*.xml
_site/*.html
_site/old/*
_site/gluexweb.xcworkspace/*
_site/papers/*/*.png
_site/papers/*/*.pdf
_site/papers/*/*.html
