<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {% include mathjax_support %}

  <body>
     
    {%- include header.html -%}
        
    <table>
            <tr>
                <td align="center"> {{ content }} </td>
                <td width="30%">
                    <a class="twitter-timeline" width="100%" data-height="400" data-theme="light" data-align="center" href="https://twitter.com/Glue_X?ref_src=twsrc%5Etfw">Tweets by Glue_X</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <h4 style="text-align:center;"><b>Statement on Diversity and Inclusion:</b></h4>
                    <p style="text-align:center;" width="100%">The GlueX Collaboration affirms that diversity of experience, culture and perspective is essential to achieving its objectives in producing and sharing relevant research that furthers our understanding of the physical world. Thus, the collaboration is committed to maintaining an inclusive and equitable working environment for all members.</p>
                </td>
            </tr>
    </table>
    
    {%- include footer.html -%}

  </body>

</html>
