<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {% include mathjax_support %}

  <body>
     
    {%- include header.html -%}
    
    <table>
            <tr>
                <td align="center"> {{ content }} </td>
                <td width="250">
                    <a class="twitter-timeline" data-width="250" data-height="400" data-theme="light" data-align="center" href="https://twitter.com/Glue_X?ref_src=twsrc%5Etfw">Tweets by Glue_X</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td>
            </tr>
    </table>
    
    {%- include footer.html -%}

  </body>

</html>
